@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Mulish', sans-serif;
}

.img-fluid{
  width: 122px;
}
.navbar-dark .navbar-nav .nav-link{
  color: #343434 !important;
}